.page {
  padding: 1em;
  border: 1px solid grey;
  margin: 1em;
  display: block;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.draft{
    border: 1px dotted red;
}

.new{
    background-color: #F9F9FF;
}

.new:hover{
    background-color: #F0F0FF;
}

.draft #title {
    min-height: 1em;
    border-bottom: 1px dotted black;
}

.draft #body {
    min-height: 4em;
}

.info {
  text-align: right;
}
