.page {
  padding: 1em;
  border: 1px solid grey;
  margin: 1em;
  display: block;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#draftTitle, #draftBody {
    min-height: 1em;
}

#draftTitle {
    border-bottom: 1px dotted black;
}

#draftBody {
    background-color: #EEEEEE;
}