<div class="page" ng-show='page' ng-cloak>
  <h1>{{page.title}}</h1>
  <div class="body">{{page.body}}</div>
</div>
<div class="page-list" ng-cloak>
  <a class="page" ng-repeat='nextPage in nextPages' ng-href="#/{{ nextPage._id }}">
    <div class="page-header">
      <h1 class="title">{{ nextPage.title }}</h1>
    </div>
  </a>
  <a id="new-page" class="page" ng-show=' !page || page._id' ng-href="#/draft/{{ page._id }}">
    <div class="page-header">
    </div>
  </a>
  <a id="draft-page" class="page" ng-show='false' ng-href="#/draft/{{ page._id }}">
    <div class="page-header">
    </div>
  </a>
</div>
